/* This is a CSS file */
.btn-border-bottom {
    width: 100px;
height: 30px;
left: 25px;
top:50px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  text-align: center;
  color: #67c5ff;  
  font-size: 20px
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn-square-soft {
    width: 200px;
height: 50px;
left: 25px;
top:10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
 
  line-height: 50px;
  border-radius: 5px;
  text-align:center;
  padding:20px 0;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#58b4ff 0%, #aaeaff 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
   font-size: 25px
   
}

.btn-square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}


.btn-square-soft1 {
    width: 350px;
height: 50px;
left: 25px;
top:10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
 
  line-height: 50px;
  border-radius: 5px;
  text-align:center;
  padding:20px 0;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#58b4ff 0%, #aaeaff 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
   font-size: 25px
   
}

.btn-square-soft1:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}

.sweet{
    top:15px;
     color: #67c5ff;
      font-weight: bold;
font-size:20px;
}

#page_top{

  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ffaf37;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}